body {
                    font-family: 'Poppins', sans-serif;
                    margin: 0;
}

h1 {
                    font-size: 50px;
}

.first {
                    color: rgb(243, 160, 5);

}

.Second {
                    color: blue;

}

.flex-container {
                    display: flex;
                    padding-left: 5%;
                    margin-bottom: 100px;
}

.third {
                    width: 50%;
                    padding-left: 2%;
}

.third img {
                    width: 80%;
}

.four {
                    text-decoration: none;
                    background-image: linear-gradient(Tomato, orange);
                    padding: 10px 40px;
                    color: seashell;
                    font-size: 20px;
                    font-weight: 700;
                    border-radius: 7px;
}

.top-banner {

                    background-image: url(images/top-banner.png);
                    background-repeat: no-repeat;
}

.middle-banner {

                    background-image: url(images/dream-bg.png);
                    background-repeat: no-repeat;
                    background-position: right;
}

.Developer {
                    width: 50%;
                    margin-left: 5%;
                    margin-right: 5%;
                    padding: 2%;
                    box-shadow: 10px 10px 40px aqua;
                    background-color: antiquewhite;
                    border-radius: 20px;
}

.xp {
                    background-image: url(images/exp-bg.png);
                    background-repeat: no-repeat;
                    background-position: left;
}

#border2 {
                    border-image: linear-gradient(blue, cyan);
                    border-image-slice: 1;
                    border-left: 7px solid;
}

#border1 {
                    border-image: linear-gradient(black, red);
                    border-image-slice: 1;
                    border-left: 7px solid;
}

footer {
                    text-align: center;

}